/* Algemeen */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 80vw;
    max-width: 1200px;
    margin: 2em auto;
}

/* Header */
header {
    background: aquamarine;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    color: black;
    box-shadow: 1px 1px 5px black;
}

/* Footer */
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 2em;
    color: white;
}

/* index */
.welkomTekst {
    text-align: center;
    font-size: 40px;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  
.btn {
    font-size: 2em;
    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.btn:hover {
    background-color: #3e8e41;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* privacy */
.privacyTekst {
    display: flex;
    align-items: center; 
    height: auto; 
    padding: 50px;
    background-color: aquamarine;
    border: 2px solid black;
    justify-content: center; 
    text-align: center;
}

/* inloggen */
.inlogTekst {
    text-align: center;
    height: 20vh;
    font-size: 50px;
}

.inlogBlok{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
}

/* Navigatiebalk Passagier */
.menupassagier {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px;
}

.menupitem {
    background: rgb(19, 196, 163);
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
}

.menupitem:hover {
    font-weight: bold;
    background-color: rgb(123, 222, 255);
}

/* Navigatiebalk Medewerker */
.menumedewerker {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px;
}

.menuwitem {
    background: rgb(19, 196, 163);
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
}

.menuwitem:hover {
    font-weight: bold;
    background-color: orange;
}


/* mijnvluchten.html */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
    grid-gap: 1rem;
}

.vlucht {
    display: grid;
    padding: 1em;
    border: 2px solid black;
    background: rgb(19, 196, 163);
}

